.contact {
    display: grid;
    height: 100vh;
    grid-template-rows: fit-content(40%);
}

.contact__header {
    margin-top: 6rem;
    background: var(--color-primary);
    padding: 5rem 1rem;
    text-align: center;
    position: relative;
    color: var(--color-white);
}

.contact__title > h1{
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.contact__subtitle {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.contact__main {
    padding: 5rem 0;
    background: var(--color-white);
}

.contact__grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.contact__card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact__card i {
    font-size: 3rem;
    color: var(--color-primary);
}

.contact__card h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin: 0.5rem 0;
}

.contact__card p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.contact__card span {
    color: var(--color-primary);
    font-size: 0.9rem;
    font-weight: bold;
}

.map {
    border-bottom: 2px solid var(--color-primary);
    overflow: hidden;
    position: relative;
    height: 400px;
}

.map iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}


/* MEDIA QUERIES (TABLETS) */
@media screen and (max-width: 1060px) {
    .contact {
        height: auto;
    }

    .contact__title > h1{
        font-size: 2.2rem;
        letter-spacing: 3px;
    }

    .contact__grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* MEDIA QUERIES (PHONES) */
@media screen and (max-width: 600px) {
    .contact__grid {
        grid-template-columns: 1fr;
    }
}