html {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.swiper-wrapper{
    padding-top: 10%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: 100%;
    background-position: center;
}