/* RECENT NEWS */
.recent {
    margin-top: 8rem;
}

.recent__container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.recent__notice:nth-child(1){
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.recent__notice:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}


.recent__notice {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.recent__img {
    width: 100%;
    height: 100%;
}

.recent__img > img {
    transition: var(--transition);
    height: 100%;
    width: 100%;
}

.recent__content {
    transition: var(--transition);
    position: absolute;
    bottom: -55px;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.6);
    width: calc(100% - 2rem);
    color: white;
}

.recent__desc {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    /* Non webkit browsers */
    line-height: 18px;
    height: calc(18px * 2);   
}

.recent__notice:hover .recent__content {
    bottom: 0;
}

.recent__notice:hover .recent__img > img {
    height: 105%;
}

/* MAIN */
.main__container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* NEWS */
.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.notice {
    border-radius: 8px;
    background: var(--color-white);
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.notice__img {
    position: relative;
}

.notice__img > img {
    width: 100%;
    height: 100%;
}

.img__category {
    position: absolute;
    font-size: 0.8rem;
    bottom: 0;
    color: var(--color-white);
    text-transform: uppercase;
    background: var(--color-primary);
    padding: 0.5rem 0.7rem;
}

.notice__content {
    padding-inline: 1rem;
}

.notice__title {
    margin: 0.4rem 0;
}

.notice__title > h3 {
    font-size: 1.3rem;
}

.notice__text {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    /* Non webkit browsers */
    line-height: 18px;
    height: calc(18px * 5);  
}

.notice__info {
    margin: 0.4rem 0;
    padding-inline: 1rem;
    color: var(--color-primary);
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 10pt;
}

.notice__cta {
    border-top: 2px solid var(--color-primary);
}

.notice__cta a {
    transition: var(--transition);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 10.5pt;
    font-weight: bold;
    color: var(--color-black);
    padding: 1rem;
}

.notice__cta i {
    font-size: 14pt;
    position: relative;
}

.notice__cta a:hover {
    background: var(--color-primary);
    color: var(--color-white);
    letter-spacing: 1px;
}

.notice__cta a:hover i{
    animation: toRightBlink 0.4s linear;
}

/* ASIDE */
.featured {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background: var(--color-white);
    border-radius: 8px;
}

.featured__title {
    padding: 1rem;
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

aside h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.3rem;
}

.featured__notice {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid var(--color-light);
}

.featured__notice > h1 {
    color: var(--color-primary);
}

.featured__notice a {
    transition: var(--transition);
    color: var(--color-black);
    font-size: 0.9rem;
}

.featured__notice:hover a {
    color: var(--color-primary);
}

.categories {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    background: var(--color-white);
    border-radius: 8px;
}

.categories__title {
    padding: 1rem;
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

.categories__container {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.category {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color-white);
    text-transform: uppercase;
    background: var(--color-primary);
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    transition: var(--transition);
}

.category:hover {
    background: var(--color-primary-dark);
}

/* MEDIA QUERIES (TABLETS) */
@media screen and (max-width: 1060px) {
    /* RECENT NEWS */
    .recent__container {
        grid-template-columns: 1fr 1fr;
    }
    
    .recent__notice:nth-child(1){
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    
    .recent__notice:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .recent__title > h2 {
        font-size: 1.5rem;
        margin-bottom: -5px;
    }

    .recent__content {
        bottom: 0;
        padding: 0.5rem;
        width: calc(100% - 1rem);
    }
    
    .recent__desc {
        font-size: 0.85rem;
    }

    /* NEWS */
    .news {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    }

    .notice__info {
        font-size: 9pt;
    }

    /* ASIDE */
    aside h3 {
        letter-spacing: 2px;
        font-size: 1.2rem;
    }

    .featured__notice {
        padding: 0.5rem 1rem;
    }

    .featured__notice a {
        font-size: 0.75rem;
    }

    .categories__container {
        padding: 1rem 0.5rem;
        gap: 0.25rem;
    }

    .category {
        font-size: 0.8rem;
    }

    .category:hover {
        background: var(--color-primary-dark);
    }
    
}


/* MEDIA QUERIES (PHONES) */
@media screen and (max-width: 600px) {
    /* RECENT NEWS */
    .recent__container {
        grid-template-columns: 1fr;
    }
    
    .recent__notice:nth-child(1){
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .recent__notice:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    /* MAIN */
    .main__container {
        grid-template-columns: 1fr;
    }
    
    /* NEWS */
    .news {
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        place-items: center;
    }

    /* ASIDE */
    aside {
        grid-row: 1 / 2;
    }

    .featured__notice {
        justify-content: start;
        padding-inline: 1.7rem;
    }

    .featured__notice:nth-last-child(1){
        padding-bottom: 1rem;
    }

    .categories__container {
        padding: 1rem 0.5rem;
        gap: 0.25rem;
    }

    .category {
        font-size: 0.8rem;
    }

    .category:hover {
        background: var(--color-primary-dark);
    }
}