/* ABOUT */
.about {
    margin-top: 8rem;
}

.about__title {
    background-color: var(--color-primary);
    padding: 10px 15px;
    border-radius: 20px 20px 0px 0px;
}

/* TOPICS */
.topics {
    overflow: hidden;
}

.topic__content {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
}

.reveal {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
}

.reveal:nth-child(even){
    transform: translateX(150px);
}

.active {
    transform: translateX(0px);
    opacity: 1;
}

.active:nth-child(even) {
    transform: translateX(0px);
}

.active .topic__img img {
    filter: saturate(100%);
}

.topic__img img {
    filter: saturate(0%);
}

.topic__img {
    flex: 1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    background: var(--color-primary-dark);
}

.topic__img:nth-child(odd) {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.topic__text {
    padding: 1rem;
    margin: 15px;
    flex: 1;
}

.topic__text > h3 {
    margin-bottom: 5px;
}

/* OBJECTIVES */
.objectives {
    background: var(--color-white);
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.objectives__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 3rem 0;
}

.objective {
    display: flex;
    justify-content: center;
    height: 100%;
}

.objective__card {
    position: relative;
    cursor: pointer;
    max-width: 320px;
}

.card__content h1 {
    font-size: 72pt;
}

.card__face {
    transition: all 600ms ease;
}

.face1 {
    position: relative;
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 20px;
    transform: translateY(70%);
    color: var(--color-white);
}

.objective:hover {
    align-items: center;
}

.objective:hover .face1 {
    background: var(--color-primary-dark);
    transform: translateY(0);
}

.card__content h3 {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
}

.face2 {
    position: relative;
    background: var(--color-bg);
    opacity: 0;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transform: translateY(-55px);
}

.objective:hover .face2 {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.card__content p {
    margin: 0;
    padding: 0;
}

/* TEAMS */
.teams__container {
    margin-top: 2rem;
}

.team__selector {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.team {
    text-align: center;
}

.team:hover {
    color: var(--color-primary-dark);
    cursor: pointer;
}

.team__selector .--current {
    text-decoration: underline var(--color-primary);
}

table {
    border-spacing: 0;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 0.7rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px 15px 0 0;
    background: var(--color-primary);
    border-bottom: 3px solid var(--color-primary);
}

thead {
    color: var(--color-white);
}

th:hover {
    cursor: pointer;
}

td, th {
    padding: 10px;
    border-bottom: 1px solid var(--color-light);
}


tbody tr:nth-child(odd){
    background: var(--color-white);
}

tbody tr:nth-child(even){
    background: var(--color-bg);
}

tbody tr:hover {
    background: var(--color-primary-dark);
    color: var(--color-white);
}

tr>td:nth-child(1){
    font-weight: bold;
    width: 50%;
}

tbody tr:last-child{
    border-bottom: 2px solid var(--color-primary);
}

#tablePages {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.page {
    border-radius: 50%;
    background: var(--color-white);
    transition: var(--transition);
    padding: 10px;
    font-size: 14pt;
    font-weight: bolder;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 18px;
    height: 18px;
    cursor: pointer;
    text-align: center;
    line-height: 18px;
    font-family: 'Montserrat', sans-serif;
}

.page-icon {
    color: var(--color-primary);
    padding: 7px;
    cursor: pointer;
}

.page:hover {
    color: white;
    background: var(--color-primary-dark);
}

#tablePages .active {
    color: white;
    background: var(--color-primary);
}


/* MEDIA QUERIES (TABLETS) */
@media screen and (max-width: 1060px) {
    /* TOPICS */
    .topic__content {
        flex-direction: column;
    }

    .topic__content:nth-child(even) {
        flex-direction: column-reverse;
    }

    .topic__text {
        width: 85%;
        text-align: center;
    }

    .topic__img {
        clip-path: none;
        width: 100%;
    }

    .topic__img:nth-child(odd) {
        width: 100%;
        clip-path: none;
    }
    
    /* OBJECTIVES */
    .objective:hover {
        align-items: initial;
    }

    .objectives__container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .objective__card {
        width: 90%;
    }


    .face1 {
        transform: translateY(0);
    }

    .face2 {
        position: relative;
        transform: translateY(0);
        opacity: 1;
    }

    /* TEAMS */
    .team__selector {
        justify-content: center;
    }
}

/* MEDIA QUERIES (PHONES) */
@media screen and (max-width: 600px) {
    /* OBJECTIVES */
    .objectives__container {
        gap: 3rem;
        grid-template-columns: 1fr;
    }

    /* TEAMS */
    .team {
        font-size: 1.4rem;
    }

    table {
        font-size: 0.8rem;
    }
}


