<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Cursos</title>

    <link rel="icon" type="image/png" href="/imgs/logo/jb.png">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../../admin/css/posts/post_cursos.css">
</head>

<body>
    <header>
        <h2>Criar um curso</h2>

        <div class="buttons">
            <div class="save">
                <button class="btn__save" type="submit">Salvar</button>
            </div>

            <div class="clear">
                <button class="btn__clear" type="reset">Limpar</button>
            </div>

            <div class="cancel">
                <button class="btn__cancel">Cancelar</button>
            </div>
        </div>
    </header>

    <main>
        <section class="sec1">
            <div class="header">
                <fieldset class="id">
                    <legend>
                        <h4>ID</h4>
                    </legend>
                    <div class="content">
                        <i class="normal-i bigger-i uil uil-list-ol"></i>
                        <input disabled value="0" type="number">
                        <!-- o value vai ser o valor do PK no Banco  -->
                    </div>
                </fieldset>

                <fieldset class="name">
                    <legend>
                        <h4>Nome</h4>
                    </legend>
                    <div class="content">
                        <i class="normal-i bigger-i uil uil-text-fields"></i>
                        <input  maxlength="60" placeholder="Insira o nome do curso" type="text">
                    </div>
                </fieldset>

                <fieldset class="fieldset__5">
                    <legend>
                        <h4>Carga Horária</h4>
                    </legend>
                    <div class="content">
                        <i class="normal-i bigger-i uil uil-comment-dots"></i>

                        <div class="hour">
                        <input type="number" value="100" step="2" min="100" max="300" id="hour-input"></input>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fieldset__4">
                    <legend>
                        <h4>Turno</h4>
                        
                    </legend>
                </fieldset>

                <fieldset class="fieldset__3">
                    <legend>
                        <h4>Nº Vagas</h4>
                    </legend>
                    <div class="content">
                        <i class="normal-i bigger-i uil uil-comment-dots"></i>
                        <input type="number" class="content-text" placeholder="0"></input>
                    </div>
                </fieldset>
            </div>

            <fieldset>
                <legend>
                    <h4>Descrição</h4>
                </legend>
                <div class="content">
                    <i class="normal-i bigger-i uil uil-comment-dots"></i>
                    <textarea maxlength="400" class="desc-text" placeholder="Insira a descrição do curso"></textarea>
                </div>
            </fieldset>

            <fieldset class="attach">
                <legend>
                    <h4>Anexo: foto de capa do curso</h4>
                </legend>
                <div class="attach__main">
                    <i class="normal-i bigger-i uil uil-file-search-alt"></i>
                    <!-- <input type="file" accept="image/*, video/*"> -->
                    <input type="file" accept=".jpg, .jpeg, .png" id="image[]" multiple
                        onchange="addImagesToPreview(event)" />
            </fieldset>

            <div class="attach__content">
                <div id="imagesPreview"></div>
                <script src="/js/components/ImagePreview.js"></script>
            </div>
        </section>

        <section class="sec2">
            <fieldset class="fieldset__1">
                <legend>
                    <h4>Nome do coordenador</h4>
                </legend>
                <div class="content">
                    <i class="normal-i bigger-i uil uil-comment-dots"></i>
                    <input  maxlength="100" class="content-text" placeholder="Insira o nome do coordenador"></input>
                </div>
            </fieldset>

            <fieldset class="fieldset__1">
                <legend>
                    <h4>E-mail do coordenador</h4>
                </legend>
                <div class="content">
                    <i class="normal-i bigger-i uil uil-comment-dots"></i>
                    <input type="email" class="content-text" placeholder="Insira o e-mail do coordenador"></input>
                </div>
            </fieldset>

            <fieldset class="fieldset__1">
                <legend>
                    <h4>Matriz curricular</h4>
                </legend>
                <div class="attach__main">
                    <i class="normal-i bigger-i uil uil-file-search-alt"></i>
                    <input type="file" accept=".pdf">

                  <!--   <input type="button" value="Selecionar" onclick="document.getElementById('file').click();"/>
                    <input type="file" style="display:none;" accept=".pdf" id="file" name="file"/> -->
            </fieldset>
        </section>

    </main>
</body>
</html>