<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Admin Avaliações</title>

    <link rel="icon" type="image/png" href="/imgs/logo/jb.png">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../../admin/css/posts/post_avaliacoes.css">
</head>
<body>
    <header>
        <h2>Cadastrar uma avaliação</h2>

        <div class="buttons">
            <div class="save">  
                <button class="btn__save" type="submit">Salvar</button>
            </div>
            
            <div class="clear">   
                <button class="btn__clear" type="reset">Limpar</button>
                </div>
    
            <div class="cancel">   
                <button class="btn__cancel">Cancelar</button>
            </div> 
        </div>
    </header>

    <main>
        <section class="sec__left">
            <div class="pic">
            <fieldset class="attach">
                <legend><h4>Anexo: foto do autor</h4></legend>
                <div class="attach__main">
                    <i class="normal-i bigger-i uil uil-file-search-alt"></i>
                    <!-- <input type="file" accept="image/*, video/*"> -->
                    <input type="file" accept=".jpg, .jpeg, .png" id="image[]" onchange="addImagesToPreview(event)" />    
            </fieldset>

            <div class="attach__content">
                <div id="imagesPreview"></div>
                <script src="../../../js/components/ImagePreview.js"></script>
            </div> 
        </section> 
            <section class="sec__right">
                <fieldset class="fieldset__normal__txt">
                    <legend><h4>Nome</h4></legend>
                    <div class="content">
                        <i class="normal-i bigger-i uil uil-text-fields"></i>
                        <input placeholder="Insira o nome do autor" type="text">
                    </div>
                </fieldset>
    
                <fieldset class="fieldset__normal__txt">
                    <legend><h4>Cargo/função</h4></legend>
                    <div class="content">
                        <i class="normal-i bigger-i uil uil-briefcase-alt"></i>
                        <input placeholder="Insira o cargo ou função ocupada pelo autor" type="text">
                    </div>
                </fieldset>

                <fieldset>
                    <legend><h4>Frase</h4></legend>
                    <div class="content"> 
                        <i class="normal-i bigger-i uil uil-comment-dots"></i>
                        <textarea class="fr-text" placeholder="Insira a frase" rows="4" cols="50" name="" form=""></textarea>
                    </div>
                </fieldset>
        
                <fieldset>
                    <legend><h4>Data</h4></legend>
                    <div class="content">
                        <i class="normal-i bigger-i uil uil-calendar-alt"></i>
                        <!-- Aqui o banco de dados vai informar a data atual -->
                        <input disabled placeholder="" type="date">
                    </div>
                </fieldset>
            </section>               
    </main>
</body>
</html>