<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Sobre Nós</title>

    <link rel="icon" type="image/png" href="/imgs/logo/jb.png">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../../admin/css/posts/post_sobre.css">

</head>

<body>
    <header>
        <h2>Inserir vídeo apresentativo</h2>

        <div class="buttons">
            <div class="save">
                <button class="btn__save" type="submit">Salvar</button>
            </div>

            <div class="clear">
                <button class="btn__clear" type="reset">Limpar</button>
            </div>

            <div class="cancel">
                <button class="btn__cancel">Cancelar</button>
            </div>
        </div>
    </header>

        <section class="sec">
            <div class="pic">
                <fieldset class="attach">
                    <legend>
                        <h4>Vídeo apresentativo da ETEC JB</h4>
                    </legend>
                    <div class="attach__main">
                        <i class="normal-i bigger-i uil uil-file-search-alt"></i>
                        <!-- WARNING: 
                            =====> 1. THE PREVIEW FUNCTION IS NOT ALLOWING TO DISPLAY ANY VIDEO ON THE SCREEN, BUT YOU STILL CAN UPLOAD IT
                            =====> 2. THE FUNCTION NEEDS TO BE FIXED
                        -->

                        <input type="file" accept="video/*" id="input-tag" />

                </fieldset>

                <div id="video__display">
                    <video controls height="" width="" id="video-tag">
                        <source id="video-source" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                

            </div>
        </section>

    <script>
        /* video teste */
        const videoSrc = document.querySelector("#video-source");
        const videoTag = document.querySelector("#video-tag");
        const inputTag = document.querySelector("#input-tag");

        inputTag.addEventListener('change', readVideo);

        function readVideo(event) {
            console.log(event.target.files)
            if (event.target.files && event.target.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                console.log('loaded')
                videoSrc.src = e.target.result
                videoTag.load()
                }.bind(this)

                reader.readAsDataURL(event.target.files[0]);
            }
            }
    </script>
</body>

</html>