<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Admin Equipe Docente</title>

    <link rel="icon" type="image/png" href="/imgs/logo/jb.png">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <link href="dist/float-labels.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/admin/css/main.css">
    <link rel="stylesheet" href="/admin/css/posts/post_equipe.css">
</head>
<body>
    <header>
        <h2>Cadastrar um funcionário</h2>

        <div class="buttons">
            <div class="save">  
                <button class="btn__save" type="submit">Salvar</button>
            </div>
            
            <div class="clear">   
                <button class="btn__clear" type="reset">Limpar</button>
                </div>
    
            <div class="cancel">   
                <button class="btn__cancel">Cancelar</button>
            </div> 
        </div>
    </header>
    
    <main>
        <section class="sec">
            <fieldset class="fieldset__normal__txt">
                <legend><h4>Nome</h4></legend>
                <div class="content">
                    <i class="fa fa-2x uil uil-text-fields"></i>
                    <input placeholder="Insira o nome do funcionário" type="text">
                </div>
            </fieldset>

            <fieldset class="fieldset__normal__txt">
                <legend><h4>Cargo/função</h4></legend>
                <div class="content">
                    <i class="fa fa-2x uil uil uil-briefcase-alt"></i>
                    <input placeholder="Insira o cargo ou função ocupada pelo funcionário" type="text">
                </div>
            </fieldset>     
        </section>       
        
    </main>

</body>
</html>