main {
    margin-top: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 0fr 1fr;
    justify-content: space-between;
    justify-items: stretch;
}

header {
    flex-direction: column;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
}



/* SECTIONS */
.sec1 {
    width: 57vw;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
    justify-content: flex-start;
}

.sec2 {
    width: auto;
}

#sec3{
    gap: 1rem;
    display: flex;
}

.attach-content-column{
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* ID & NAME */
.id {
    width: 4rem;
    height: 4rem;
}

.name {
    width: 40rem;
    height: 4rem;
}

.header {
    gap: 1rem;
    display: inline-flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

/* COURSES BODY & DESCRIPTION*/
#workload{
    width: 100%;
}

#vacancies{
    width: 100%;
}

#shift{
    width: 20rem;
}

#desc-textarea{
    resize: none;
}

#description{
    display: flex;
    align-items: flex-start;
    height: 9rem;
}

/* NUMBER INPUT OF VACANCIES */
.hour { 
    width: 100%;
    display: flex;
}

.content span {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}