main {
    width: 100%;
    margin-top: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 42rem auto;
    justify-content: start;
    justify-items: start;
}

header{
    flex-direction: column;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
}




/* ÍCONES */
.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    padding-right: 0.25rem;

    /* width: 3.75rem; */
    /* height: 4rem; */
    
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}





/* INSERIR DADOS */

.sec__left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
    justify-content: flex-start;
}

.sec__right{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-content: space-around;    
    align-items: stretch;
    justify-content: flex-start;
}

    /* ID, TITULO E DATA */
    /* .header{
        display: inline-flex;
        align-items: center;
        align-content: stretch;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
    }
     */



    /* CORPO E SUBTITULO */
    .content{
        display: flex;
    }


    .fr-text{
        width: 100%;
        font-size: 1.2rem;
        font-weight: 500;
    
        /* width: 50rem;
        height: 3rem;
    
        padding: 0rem 2.2rem 0.5rem 0rem;
        margin-bottom: 0.5rem; */
    
        resize: vertical;
    
        border: 0;
        /* border-bottom: 2px s olid var(--color-light); */
        background: none;
        border-radius: 5px;
    }
    
    .cp-text{
        height: 40rem;
    }

    fieldset{
        border-radius: 0.25rem;
        padding: 0.7rem;
        margin: 0rem 0 1rem 0;
        border: 1px solid var(--color-black);
    }
    
    fieldset input {
        height: 100%;
        width: 100%;
    
        background: none;
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    .fieldset__normal__txt{
        height: 4rem;
    }
    
    legend {
        padding: 0.5rem;
    }