main {
    margin-top: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 0fr 1fr;
}


/* SECTIONS */
.content {
    display: flex;
}


.sec__left {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
    justify-content: flex-start;
}



/* FIELDSET*/
fieldset {
    width: 40rem;
}

.fieldset__normal__txt {
    height: 4rem;
}