main {
    /* margin-top: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 0fr 1fr; */

    margin-top: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 0fr 1fr;
    justify-content: space-between;
    justify-items: stretch;
}

header {
    flex-direction: column;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
}




/* SECTIONS */
.sec1 {
    width: 45rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
    justify-content: flex-start;
}

/* ID, TITLE AND DATE */
.header {
    gap: 1rem;
    display: inline-flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}


/* NEWS BODY & SUBTITLE*/
.id {
    width: 4rem;
    height: 4rem;
}

.title {
    width: 32rem;
}

.data {
    width: 0rem;
}

#subtitle{
    display: flex;
    align-items: flex-start;
    height: 9rem;
}

#subtitle-textarea{
    resize: none;
}

#newsbody-textarea{
    resize: vertical;
}