/* ATTACH SIZE */
.attach {
  margin-top: 2rem;
  height: fit-content;
}

video {
  display: flex;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  max-width: 40rem;
  max-height: 30rem;
}

.pic {
  width: fit-content;
}

.sec,
.header {
  width: fit-content;
}