main {
    margin-top: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 0fr 1fr;
    justify-content: space-between;
    justify-items: stretch;
}

header {
    flex-direction: column;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
}



/* SECTIONS */
.sec1 {
    width: 57vw;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
    justify-content: flex-start;
}

.sec2 {
    width: auto;
}

/* ID & NAME */
.id {
    width: 4rem;
    height: 4rem;
}

.name {
    width: 30%;
    height: 4rem;
}

.header {
    gap: 1rem;
    display: inline-flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

/* COURSES BODY & DESCRIPTION*/
.content {
    display: flex;
}

.content-text {
    resize: vertical;
    font-size: 1.2rem;
    background: none;
    width: 100%;
    height: 100%;
}

.fieldset__1 {
    width: auto;
    height: 4rem;
}

.fieldset__2 {
    width: 100%;
    height: 4rem;
}

.fieldset__3 {
    width: auto;
    height: 4rem;
}

.fieldset__4 {
    width: 21%;
    height: 4rem;
}

.fieldset__5 {
    width: 20%;
    height: 4rem;
}

.desc-text {
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    margin-bottom: 0.5rem;
    resize: none;
    border: 0;
    /* border-bottom: 2px solid var(--color-light); */
    background: none;
    height: 7.55rem;
}


/* NUMBER INPUT OF VACANCIES */
.hour { 
    width: 100%;
    display: flex;
}

.content span {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

input[type="button"] {
    display: flex;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
}