<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ETEC João Belarmino</title>

    <link rel="icon" type="image/png" href="./imgs/logo/jb.png">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- SWIPER JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sobre.css">
</head>

<body>
    <nav>
        <div class="nav__container">
            <div class="nav__title">
                <img src="/imgs/logo/logo.png " alt="Logo JB">
            </div>
            <ul class="nav__menu">
                <li><a href="/index.html"><span><i class="uil uil-home"></i>
                            <p>Início</p>
                        </span></a></li>
                <li><a href="/views/cursos.html"><span><i class="uil uil-graduation-cap"></i>
                            <p>Cursos</p>
                        </span></a></li>
                <li><a href="/views/noticias.html"><span><i class="uil uil-newspaper"></i>
                            <p>Notícias</p>
                        </span></a></li>
                <li><a href="/views/diretoria.html"><span><i class="uil uil-university"></i>
                            <p>Diretoria</p>
                        </span></a></li>
                <li><a href="/views/sobre.html" class="--current"><span><i class="uil uil-info-circle"></i>
                            <p>Sobre nós</p>
                        </span></a></li>
                <li><a href="/views/contato.html"><span><i class="uil uil-phone"></i>
                            <p>Contato</p>
                        </span></a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></i></button>
        </div>
    </nav>

    <button class="theme__switch"><i class="uil uil-sun theme-icon"></i></button>

    <section class="about">
        <div class="about__container container">
            <div class="about__title">
                <h1 class="color--white">Nossa História</h1>
            </div>
            <img src="/imgs/slide-pics/img3.png" class="about__img">
            <em class="--desc">Lorem ipsum dolor sit.</em>
        </div>
    </section>

    <section class="topics">
        <div class="topics__container container">

            <div class="topic__content reveal">
                <div class="topic__text">
                    <h3>Tópico</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nihil temporibus, unde repellat
                        dolore nam omnis! Temporibus eveniet eos odit nesciunt, debitis aspernatur sapiente optio
                        ducimus neque rem doloremque repellendus cupiditate minima eaque voluptate harum quibusdam
                        quas nam? Tenetur quidem nesciunt, qui eaque maiores eius sequi voluptatem sapiente quae
                        neque!</p>
                </div>
                <div class="topic__img">
                    <img src="/imgs/slide-pics/img7.png">
                </div>
            </div>

            <div class="topic__content reveal">
                <div class="topic__img">
                    <img src="/imgs/slide-pics/img5.png">
                </div>
                <div class="topic__text">
                    <h3>Tópico</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, perspiciatis necessitatibus ut eius quis blanditiis sunt quo harum, dolor veniam a odio, neque ducimus? Doloremque similique corrupti aut, perferendis laborum, ipsam, commodi reprehenderit at sit possimus consequuntur illum. Placeat architecto perspiciatis atque ad delectus sequi dolorem accusantium. In est accusantium modi voluptas corporis, hic, ab a nam sapiente doloribus sequi illo. Vero sed velit esse doloribus, liquam aspernatur voluptatum? Libero obcaecati porro laboriosam hic iusto explicabo incidunt facere! lorem40
                    </p>
                </div>
            </div>

            <div class="topic__content reveal">
                <div class="topic__text">
                    <h3>Tópico</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nam eligendi doloremque at a, voluptas iusto sunt quae ipsam quaerat nemo architecto magnam rerum quidem sit cumque iure, accusamus blanditiis ea! Dolorem corrupti adipisci saepe iusto, fuga laudantium exercitationem asperiores reiciendis excepturi praesentium reprehenderit cupiditate velit fugiat commodi eaque veniam. Cum rem quod magni officia mollitia qui nobis facere doloremque voluptatem libero, fugiat dolor! Quidem aliquid provident sequi nihil iste debitis natus maxime rerum unde corporis 
                    </p>
                </div>
                <div class="topic__img">
                    <img src="/imgs/slide-pics/img6.png">
                </div>
            </div>
        </div>

    </section>

    <section class="objectives">
        <div class="objectives__container container">
            <article class="objective">
                <div class="objective__card">
                    <div class="card__face face1">
                        <div class="card__content">
                            <h1><i class="uil uil-bullseye"></i></h1>
                            <h3>Missão</h3>
                        </div>
                    </div>
                    <div class="card__face face2">
                        <div class="card__content">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis tenetur magni iusto
                                tempora? Officia molestias aliquam facilis fugit quos sunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptatum expedita quam fuga deserunt. Eum!</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="objective">
                <div class="objective__card">
                    <div class="card__face face1">
                        <div class="card__content">
                            <h1><i class="uil uil-eye"></i></h1>
                            <h3>Visão</h3>
                        </div>
                    </div>
                    <div class="card__face face2">
                        <div class="card__content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis tenetur magni iusto
                                tempora? Officia molestias aliquam facilis fugit quos sunt! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia commodi ducimus quibusdam nulla, asperiores provident nobis, aperiam consequuntur magnam maxime harum reprehenderit officia nisi vitae odit
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="objective">
                <div class="objective__card">
                    <div class="card__face face1">
                        <div class="card__content">
                            <h1><i class="uil uil-check-square"></i></h1>
                            <h3>Valores</h3>
                        </div>
                    </div>
                    <div class="card__face face2">
                        <div class="card__content">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis tenetur magni iusto
                                tempora? Officia molestias aliquam facilis fugit quos sunt!</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section class="teams">
        <div class="teams__container container">
            <div class="team__selector">
                <h3 class="team --current" onclick="setTableData(equipeDocente)">Equipe Docente</h3>
                <h3 class="team" onclick="setTableData(equipeEscolar)">Equipe Escolar</h3>
                <h3 class="team" onclick="setTableData(conselhoEscolar)">Conselho Escolar</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th onclick="sortColumn('name')">Nome<i id="i__name" class="uil uil-angle-right th-icon"></i></th>
                        <th onclick="sortColumn('role')">Cargo<i id="i__role" class="uil uil-angle-right th-icon"></i></th>
                    </tr>
                </thead>
                <tbody id="tableData">

                </tbody>
            </table>
            <div id="tablePages">
            </div>
        </div>
    </section>

    <footer>
        <div class="container footer__container">
            <div class="footer__1">
                <a href="/index.html" class="footer__logo">
                    <h4>ETEC João Belarmino</h4>
                </a>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam nisi autem?
                </p>
                <div class="footer__imgs">
                    <img src="/imgs/footer/jb-banner.png">
                    <img src="/imgs/footer/cps.png">
                </div>
            </div>

            <div class="footer__2">
                <h4>Páginas</h4>
                <ul class="permalinks">
                    <li><a href="/index.html">Início</a></li>
                    <li><a href="/views/cursos.html">Cursos</a></li>
                    <li><a href="/views/noticias.html">Notícias</a></li>
                    <li><a href="/views/diretoria.html">Diretoria</a></li>
                    <li><a href="/views/sobre.html">Sobre nós</a></li>
                    <li><a href="/views/contato.html">Contato</a></li>
                </ul>
            </div>

            <div class="footer__3">
                <h4>Contato</h4>
                <div>
                    <div class="footer__instagram">
                        <p>
                            <i class="uil uil-instagram"></i>
                            <a href="">@etecjboficial</a>
                        </p>
                        <p>
                            <i class="uil uil-instagram"></i>
                            <a href="">@etec_jb</a>
                        </p>
                    </div>
                    <div class="footer__phone">
                        <p>
                            <i class="uil uil-phone"></i>
                            (19) 3807-2288
                        </p>
                        <p>
                            <i class="uil uil-phone"></i>
                            (19) 3807-8982
                        </p>
                        <p>
                            <i class="uil uil-phone"></i>
                            (19) 3808-1016
                        </p>
                    </div>
                    <div class="footer__email">
                        <p>
                            <i class="uil uil-envelope"></i>
                            e067acad@cps.sp.gov.br
                        </p>
                        <p>
                            <i class="uil uil-envelope"></i>
                            e067adm@cps.sp.gov.br
                        </p>
                    </div>
                    <div class="footer__cep">
                        <p>
                            <i class="uil uil-location-point"></i>
                            Rua Sete de Setembro, 299
                        </p>
                        <p>
                            <i class="uil uil-location-point"></i>
                            Centro, Amparo/SP
                        </p>
                        <p>
                            <i class="uil uil-location-point"></i>
                            <a href="">CEP: 13900-372</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <small>Copyright &copy; <span id="secret">3ºDS | 2022</span></small>
        </div>
        <div class="secret__cmd">
            <span id="auto-type"></span>
            <!-- <span>C:\users\3DS\2022>_ cd Desenvolvedores</span>
            <span>C:\users\3DS\2022\Desenvolvedores>_ </span> -->
            <div class="secret__devs">
                <div class="secret__dev">
                    <img
                        src="https://www.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png">
                    <span class="dev__name">Gustavo</span>
                </div>
                <div class="secret__dev">
                    <img
                        src="https://www.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png">
                    <span class="dev__name">Francine</span>
                </div>
                <div class="secret__dev">
                    <img
                        src="https://www.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png">
                    <span class="dev__name">Gian</span>
                </div>
                <div class="secret__dev">
                    <img
                        src="https://www.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png">
                    <span class="dev__name">Emily</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/main.js"></script>
</body>

</html>