<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Notícias</title>

    <link rel="icon" type="image/png" href="/imgs/logo/jb.png">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/admin/css/main.css">
    <link rel="stylesheet" href="/admin/css/lists/lista_cursos.css">

    <script src="/js/main.js"></script>
</head>

<body>
    <header>
        <h2>Lista de cursos</h2>

        <div class="buttons">
            <button class="news__btn" onclick="location.href='/admin/views/posts/post_noticias.html'" type="button">
                <i class="fa fa-2x uil uil-plus-circle"></i>
                Criar curso
            </button>
        </div>
    </header>

    <div class="courses__grid">
 
            <div class="card__wrapper">
            
                <div class="card">
                    <div class="title"><h4>Chasing the pavements of our heart</h4></div>
                    <div class="desc"><p>Set the fire to the conversations in the dark when I'll never forget you, even ain't my fault...
                        You broke me again, but idfc... You were my everything, and now you're just somebody I used to know</p></div>
                </div>
            
                <div class="edit">
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-pen"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card__wrapper">
                
                <div class="card">
                    <div class="title"><h4>Chasing the pavements of our heart</h4></div>
                    <div class="desc"><p>Set the fire to the conversations in the dark when I'll never forget you, even ain't my fault...
                        You broke me again, but idfc... You were my everything, and now you're just somebody I used to know</p></div>
                </div>
            
                <div class="edit">
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-pen"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__wrapper">
            
                <div class="card">
                    <div class="title"><h4>Chasing the pavements of our heart</h4></div>
                    <div class="desc"><p>Set the fire to the conversations in the dark when I'll never forget you, even ain't my fault...
                        You broke me again, but idfc... You were my everything, and now you're just somebody I used to know</p></div>
                </div>
            
                <div class="edit">
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-pen"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card__wrapper">
                
                <div class="card">
                    <div class="title"><h4>Chasing the pavements of our heart</h4></div>
                    <div class="desc"><p>Set the fire to the conversations in the dark when I'll never forget you, even ain't my fault...
                        You broke me again, but idfc... You were my everything, and now you're just somebody I used to know</p></div>
                </div>
            
                <div class="edit">
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-pen"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>