<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Notícias</title>

    <link rel="icon" type="image/png" href="/imgs/logo/jb.png">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/admin/css/main.css">
    <link rel="stylesheet" href="/admin/css/lists/lista_noticias.css">

    <script src="/js/main.js"></script>
</head>

<body>
    <header>
        <h2>Lista de notícias</h2>

        <div class="buttons">
            <button class="news__btn" onclick="location.href='/admin/views/posts/post_noticias.html'" type="button">
                <i class="fa fa-2x uil uil-plus-circle"></i>
                Publicar nova notícia
            </button>
        </div>
    </header>

    <main>
        <section class="sec__middle">

            <!-- NOTICIA 1 -->
            <fieldset class="list">
                <div class="list__item">
                    <i class="list-icon uil uil-text-fields"></i>
                    <a href="/views/exemploNoticia.html">News 01</a>
                    <p>Lorem ipsum dolor?</p>
    
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='//link da noticia'" type="button">
                            <i class="list-icon uil uil-edit"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </fieldset>
    
            <!-- NOTICIA 2 -->
            <fieldset class="list">
                <div class="list__item">
                    <i class="list-icon uil uil-text-fields"></i>
                    <a href="/views/exemploNoticia.html">News 02</a>
                    <p>Lorem ipsum dolor?</p>
    
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-edit"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </fieldset>

            
            <!-- NOTICIA 3 -->
            <fieldset class="list">
                <div class="list__item">
                    <i class="list-icon uil uil-text-fields"></i>
                    <a href="/views/exemploNoticia.html">News 03</a>
                    <p>Lorem ipsum dolor?</p>
    
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-edit"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </fieldset>


            
            <!-- NOTICIA 4 -->
            <fieldset class="list">
                <div class="list__item">
                    <i class="list-icon uil uil-text-fields"></i>
                    <a href="/views/exemploNoticia.html">News 04</a>
                    <p>Lorem ipsum dolor?</p>
    
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-edit"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </fieldset>


            
            <!-- NOTICIA 5 -->
            <fieldset class="list">
                <div class="list__item">
                    <i class="list-icon uil uil-text-fields"></i>
                    <a href="/views/exemploNoticia.html">News 05</a>
                    <p>Lorem ipsum dolor?</p>
    
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-edit"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </fieldset>

        </section>
    </main>
    


</body>

</html>