header{
  margin-bottom: 2rem;
  flex-direction: column;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}

.sec__middle {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list__item {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__item>a {
  padding-left: 2rem;
  font-weight: 600;
  /* padding-right: 30rem; */
  text-decoration: underline;
}

.list__item>p {
  padding-right: 16rem;
}

.list-icon {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.list-icon:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.icons {
  display: flex;
}

.edit__btn {
  cursor: pointer;
  background: none;
  padding-right: 1rem;
}

fieldset {
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 0rem 0 1rem 0;
  border: 1px solid var(--color-black);
}

.news__btn,
.order-by__btn {
  width: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;

  background: none;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  transition: var(--transition);
}

.news__btn:hover,
.order-by__btn:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: var(--transition);
  cursor: pointer;
}

.order-by__btn {
  width: 15rem;
}


/* ÍCONES */
.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  padding-right: 0.25rem;

  /* width: 3.75rem; */
  /* height: 4rem; */

  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}