.new__btn {
    width: 20rem;
    padding: 0.7rem;
    border-radius: 0.5rem;

    background: none;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-size: 1.2rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    transition: var(--transition);
}

.new__btn:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    transition: var(--transition);
    cursor: pointer;
}

.btn-content {
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.desc {
    font-size: 1rem;
}

button.edit__btn {
    background-color: none;
    background: none;
}

.list-icon {
    color: var(--color-white);
    background: none;
    font-size: 1.5rem;
}

.list-icon:hover {
    cursor: pointer;
}

.grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.card__wrapper {
    /*  margin-top: 2rem; */
    display: flex;
    align-items: center;
    width: fit-content;
    height: auto;
}

.card {
    height: fit-content;
    width: fit-content;

    padding: 1rem;

    border-radius: 0.5rem;
    border: 0.1rem solid var(--color-black);
    border-right: 0;
}

.edit {
    border-radius: 0.5rem;

    border-bottom: 0.25rem solid var(--color-primary-dark);
    border-top: 0.25rem solid var(--color-primary-light);

    border-left: 0;
    border-right: 0;
    /* border-right: 0.15rem solid var(--color-primary-dark); */

    padding: 0.5rem;

    background-color: var(--color-primary);
    box-shadow: -0.2rem 0rem 0.05rem var(--color-bg);

    z-index: 1;
    display: flex;
    align-content: center;
}

.icons {
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.break-line {
    margin-top: 2rem;
    background-color: var(--color-black);
    height: 1rem;
    padding: 0.05rem;
}


.header-icon {
    transition: var(--transition);
    color: var(--color-black);
    border-left: 0.2rem solid var(--color-black);
    border-radius: 0.2rem;
    font-size: 1.6rem;
}

a {
    transition: var(--transition);
    color: var(--color-black);
}

.title:hover a,
.title:hover .header-icon{
    color: var(--color-primary);
    border-color: var(--color-primary);
}