<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Notícias</title>

    <link rel="icon" type="image/png" href="/imgs/logo/jb.png">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/admin/css/main.css">
    <link rel="stylesheet" href="/admin/css/lista_noticias.css">
</head>

<body>
    <main>
        <section class="sec__top">
            <button class="news__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                <i class="fa fa-2x uil uil-plus-circle"></i>
                Publicar nova notícia
            </button>
    
            
            <!-- <span class="order-by__btn">
                <i class="fa fa-2x uil uil-angle-down"></i>
                Ordernar por:
            </span> -->

            <!-- <select class="order-by__btn custom-select sources" name="types">
                <option value="">Mais recente</option>
                <option value="">Mais popular</option>
                <option value="">Menos recente</option>
                <option value="">Menos popular</option>
            </select> -->

            <div class="dropdown__container">
                <div class="select-box">
                  <div class="options-container">
                    <div class="option">
                      <input
                        type="radio"
                        class="radio"
                        id="automobiles"
                        name="category"
                      />
                      <label for="automobiles">Automobiles</label>
                    </div>
          
                    <div class="option">
                      <input type="radio" class="radio" id="film" name="category" />
                      <label for="film">Film & Animation</label>
                    </div>
          
                    <div class="option">
                      <input type="radio" class="radio" id="science" name="category" />
                      <label for="science">Science & Technology</label>
                    </div>
          
                    <div class="option">
                      <input type="radio" class="radio" id="art" name="category" />
                      <label for="art">Art</label>
                    </div>
          
                    <div class="option">
                      <input type="radio" class="radio" id="music" name="category" />
                      <label for="music">Music</label>
                    </div>
          
                    <div class="option">
                      <input type="radio" class="radio" id="travel" name="category" />
                      <label for="travel">Travel & Events</label>
                    </div>
          
                    <div class="option">
                      <input type="radio" class="radio" id="sports" name="category" />
                      <label for="sports">Sports</label>
                    </div>
          
                    <div class="option">
                      <input type="radio" class="radio" id="news" name="category" />
                      <label for="news">News & Politics</label>
                    </div>
          
                    <div class="option">
                      <input type="radio" class="radio" id="tutorials" name="category" />
                      <label for="tutorials">Tutorials</label>
                    </div>
                  </div>
          
                  <div class="selected">
                    Select Video Category
                  </div>
                </div>
              </div>
          
              <script src="/js/main.js"></script>
        

        </section>
    
        <section class="sec__middle">

            <!-- NOTICIA 1 -->
            <fieldset class="list">
                <div class="list__item">
                    <i class="list-icon uil uil-text-fields"></i>
                    <a href="/views/exemploNoticia.html">News 01</a>
                    <p>Lorem ipsum dolor?</p>
    
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-edit"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </fieldset>
    
            <!-- NOTICIA 2 -->
            <fieldset class="list">
                <div class="list__item">
                    <i class="list-icon uil uil-text-fields"></i>
                    <a href="/views/exemploNoticia.html">News 02</a>
                    <p>Lorem ipsum dolor?</p>
    
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-edit"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </fieldset>

            
            <!-- NOTICIA 3 -->
            <fieldset class="list">
                <div class="list__item">
                    <i class="list-icon uil uil-text-fields"></i>
                    <a href="/views/exemploNoticia.html">News 03</a>
                    <p>Lorem ipsum dolor?</p>
    
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-edit"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </fieldset>


            
            <!-- NOTICIA 4 -->
            <fieldset class="list">
                <div class="list__item">
                    <i class="list-icon uil uil-text-fields"></i>
                    <a href="/views/exemploNoticia.html">News 04</a>
                    <p>Lorem ipsum dolor?</p>
    
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-edit"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </fieldset>


            
            <!-- NOTICIA 5 -->
            <fieldset class="list">
                <div class="list__item">
                    <i class="list-icon uil uil-text-fields"></i>
                    <a href="/views/exemploNoticia.html">News 05</a>
                    <p>Lorem ipsum dolor?</p>
    
                    <div class="icons">
                        <button class="edit__btn" onclick="location.href='/admin/views/post_noticias.html'" type="button">
                            <i class="list-icon uil uil-edit"></i>
                        </button>
            
                        <div class="trash__btn">
                            <i class="list-icon uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </fieldset>

        </section>
    </main>
    


</body>

</html>