<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Noticias</title>

    <link rel="icon" type="image/png" href="/imgs/logo/jb.png">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <link href="dist/float-labels.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/admin/css/main.css">
    <link rel="stylesheet" href="/admin/css/post_noticias.css">
</head>
<body>
    <header>
        <h2>Criar uma notícia</h2>

        <div class="buttons">
            <div class="save">  
                <button class="btn__save" type="submit">Salvar</button>
            </div>
            
            <div class="clear">   
                <button class="btn__clear" type="reset">Limpar</button>
                </div>
    
            <div class="cancel">   
                <button class="btn__cancel">Cancelar</button>
            </div> 
        </div>
    </header>

    <main>
        
        <section class="sec1">
            <div class="header">
                <fieldset class="id">
                    <legend><h4>ID</h4></legend>
                    <div class="content">
                        <i class="fa fa-2x uil uil-list-ol"></i>
                        <input disabled value="0" type="number">
                        <!-- o value vai ser o valor do PK no Banco  -->
                    </div>
                </fieldset>
    
                <fieldset class="title">
                    <legend><h4>Título</h4></legend>
                    <div class="content">
                        <i class="fa fa-2x uil uil-text-fields"></i>
                        <input placeholder="Insira o título da notícia" type="text">
                    </div>
                </fieldset>
    
                <fieldset class="data">
                    <legend><h4>Data</h4></legend>
                    <div class="content">
                        <i class="fa fa-2x uil uil-calendar-alt"></i>
                        <!-- Aqui o banco de dados vai informar a data atual -->
                        <input disabled placeholder="01/11/2022 " type="date">
                    </div>
                </fieldset>
            </div>

            <fieldset>
                <legend><h4>Subtítulo</h4></legend>
                <div class="subtitle content"> 
                    <i class="fa fa-2x uil uil-comment-dots"></i>
                    <textarea class="st-text" placeholder="Insira o subtítulo da notícia"></textarea>
                </div>
            </fieldset>

            <fieldset class="attach">
                <legend><h4>Anexo: foto e/ou vídeo</h4></legend>
                <div class="attach__main">
                    <i class="fa fa-2x uil uil-file-search-alt"></i>
                    <!-- <input type="file" accept="image/*, video/*"> -->
                    <input type="file" accept=".jpg, .jpeg, .png, .mp4, .avi" id="image[]" multiple onchange="addImagesToPreview(event)" />    
            </fieldset>

            <div class="attach__content">
                <div id="imagesPreview"></div>
                <script src="/js/components/ImagePreview.js"></script>
            </div> 
        </section>

        <section class="sec2">
            <fieldset>
                <legend><h4>Corpo</h4></legend>
                <div class="content">
                    <i class="fa fa-2x uil uil-subject"></i>
                    <textarea class="cp-text" placeholder="Insira o corpo da notícia" rows="4" cols="50" name="comment" form=""></textarea>
                </div>
            </fieldset>
        </section>  

    </main>

</body>
</html>