<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ETEC João Belarmino</title>

    <link rel="icon" type="image/png" href="/imgs/logo/jb.png">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <link href="dist/float-labels.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/admin/css/post.css">

    <script src="/js/main.js"></script>
</head>

<body>
   <!--  <header>
        <nav>
            <div class="nav__container">
                <div class="nav__title">
                    <a href="/index.html"><img src="imgs/logo/logo.png" alt="Logo JB"></a>
                </div>
            </div>
        </nav>
    </header> -->

    <button class="theme__switch"><i class="uil uil-sun theme-icon"></i></button>

    <section>
        <div class="area"></div>
        <header>
            <a href="/index.html"><img src="/imgs/logo/jb-red.png" alt="Logo JB"></a>
        </header>

        <nav class="sidebar">
                <ul>
                    <li>
                        <a href="/admin/views/lists/lista_noticias.html">
                            <i class="fa fa-2x uil uil uil-newspaper"></i>
                            <span class="nav-text">
                                Notícias
                            </span>
                        </a>
                    </li>

                    <li class="has-subnav">
                        <a href="/admin/views/posts/post_cursos.html">
                            <i class="fa fa-2x uil uil-graduation-cap"></i>
                            <span class="nav-text">
                                Cursos
                            </span>
                        </a>
                        
                    </li>

                    <li class="has-subnav">
                        <a href="/admin/views/posts/post_avaliacoes.html">
                            <i class="fa fa-2x uil uil uil-award"></i>
                            <span class="nav-text">
                                Avaliações
                            </span>
                        </a>
                        
                    </li>

                    <li class="has-subnav">
                        <a href="/admin/views/posts/post_equipe.html">
                            <i class="fa fa-2x uil uil-users-alt"></i>
                            <span class="nav-text">
                                Equipe Docente
                            </span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-2x uil uil-comment-message"></i>
                            <span class="nav-text">
                                Sobre nós
                            </span>
                        </a>
                    </li>

                    <!-- <li>
                        <a href="#">
                            <i class="fa fa-font fa-2x"></i>
                            <span class="nav-text">
                                Diretoria
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-info fa-2x"></i>
                            <span class="nav-text">
                                Documentation
                            </span>
                        </a>
                    </li>
                </ul> -->
    
                <ul class="logout">
                    <li>
                        <a href="/admin/views/login.html">
                            <i class="fa fa-2x uil uil-sign-out-alt"></i>
                            <span class="nav-text">
                                Sair
                            </span>
                        </a>
                    </li>  
                </ul>
            </nav>

            <main>
            <div class="title">
                <h1>Painel de controle</h1>
            </div>
        </main>
    </section>
</body>
</html>