body {
    background-color: var(--color-bg);
    height: 100%;
    /* width: 100%; */
    padding: 9rem 2.2rem 0rem 18rem;
}


/* BUTTONS */
.save,
.clear,
.cancel {
    display: flex;
}

.btn__save,
.btn__clear,
.btn__cancel {
    width: 10rem;
    display: flex;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0.7rem;
    color: var(--color-white);
    border: 2px solid var(--color-primary);
    transition: var(--transition);
    background: var(--color-primary);
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.btn__save:hover {
    color: var(--color-primary);
    background: none;
}

.btn__clear,
.btn__cancel {
    border: 2px solid var(--color-black);
    color: var(--color-black);
    background: none;
}


.btn__clear:hover,
.btn__cancel:hover {
    border: 2px solid var(--color-black);
    color: var(--color-white);
    background-color: var(--color-black);
}

.buttons {
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.left__btns {
    justify-content: flex-end;
    gap: 1rem;
    display: flex;
}



/* IMAGE ATTACH */
.attach__main {
    display: flex;
}

.attach {
    width: auto;
    height: 4rem;
}




/* IMAGE DISPLAY */
.attach__content {
    width: auto;
    /* Muda o height aqui ->  height: auto;  */
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

#imagesPreview {
  width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
}

#imagesPreview>img {
    width: 100%;
    /* height: 100%; */
    height: 4.5rem;
    border-radius: 0.25rem;
    object-fit: cover;
}



/* FIELDSET CONFIGS */
fieldset {
    height: 4rem;
    border-radius: 0.25rem;
    /* width: 25rem; */
    padding: 0.5rem;
    margin: 0rem 0 1rem 0;
    border: 1px solid var(--color-black);
}

textarea,
fieldset input {
    height: 100%;
    width: 100%;

    padding: 0 0.25rem 0 0.2rem;
    background: none;
    font-size: 1rem;
    font-weight: 500;
}

legend {
    padding: 0.5rem;
}

textarea {
    height: 6rem;
    background: none;
}

.content {
    display: flex;
    width: 100%;
    font-size: medium;
    background: none;
}


/* ICONS */
.bigger-i {
    font-size: 2em;
}

.normal-i {
    position: relative;
    display: table-cell;
    padding-right: 0.25rem;

    /* width: 3.75rem; */
    /* height: 4rem; */

    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}



/* RICH TEXT */
.options {
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.8rem;
}

.options button {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    display: grid;
    place-items: center;
    border-radius: 0.2rem;
    outline: none;
}

.options select {
    padding: 0.2rem;
    border: 0.1rem solid var(--color-black);
    border-radius: 0.2rem;
    background: transparent;
}

.options label,
.options select {
    font-family: 'Raleway', sans-serif;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.fa-solid,
.fas {
    font-size: 1rem
}

input[type="color"] {
    width: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 0.3rem;
}

#first-options-sec,
#second-options-sec,
#third-options-sec {
    align-items: center;
    width: fit-content;
    gap: 3rem;
    display: flex;
    flex-direction: row;
}

/* .font-options{
    display: flex;
    gap: 1rem;
}
 */

#textFormat,
#undoRedo,
#alignment,
#link,
#list,
#headings {
    align-items: flex-start;
    width: auto;
    gap: 0.75rem;
    display: flex;
    flex-direction: row;
}

#color {
    gap: 1rem;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.active{
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #f5c8cf;
}

.font-options-wrapper{
    display: flex;
}

