main {
    /* margin-top: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 0fr 1fr; */

    margin-top: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 0fr 1fr;
    justify-content: space-between;
    justify-items: stretch;
}

header{
    flex-direction: column;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
}


/* ÃCONES */
.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    padding-right: 0.25rem;

    /* width: 3.75rem; */
    /* height: 4rem; */
    
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}





/* INSERIR DADOS */

.sec1{
    width: 45rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
    justify-content: flex-start;
}

    /* ID, TITULO E DATA */
    .header{
        gap: 1rem;
        display: inline-flex;
        align-items: center;
        align-content: stretch;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    



    /* CORPO E SUBTITULO */
    .content{
        display: flex;
    }

    .st-text{
        height: 0.7rem;
    }

    .subtitle{
        height: 4rem;
    }

    .st-text, .cp-text{
        font-size: medium;
        font-weight: 500;
        width: 100%;
        height: 100%;
        padding: 0rem 4rem 0.5rem 0rem;
        margin-bottom: 0.5rem;
        resize: vertical;
        border: 0;
        /* border-bottom: 2px solid var(--color-light); */
        background: none;
    }
    
    .cp-text{
        height: 27rem;
    }

    fieldset{
        border-radius: 0.25rem;
        /* width: 25rem; */
        padding: 0.7rem;
        margin: 0rem 0 1rem 0;
        border: 1px solid var(--color-black);
    }
    
    fieldset input {
        height: 100%;
        width: 100%;
    
        background: none;
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    .id{
        width: 4rem;
        height: 4rem;
    }
    
    .title{
        width: 32rem;
        height: 4rem;
    }
    
    .data{
        width: 0rem;
        height: 4rem;
    }

    legend {
        padding: 0.5rem;
    }





/* ANEXO DA IMAGEM */
.attach__main{
    display: flex;
}

.attach{
    width: auto;
    height: 4rem;
}


/* DISPLAY DE IMAGEM */
.attach__content {
    width: auto;
    /* Muda o height aqui ->  height: auto;  */
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

#imagesPreview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

#imagesPreview>img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}







